.sidebar{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding-top: 4rem;
  transition: all 300ms ease;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 4%; */
  padding-top: 4rem;
  height: 5rem;
  font-weight: bold;
  font-size: 22px;
  gap: 1rem;
}
.logo img{
  width: 4rem;
  height: 4rem;
}

.logo span span{
  color: var(--pink);
}

.menu{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.item{
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2.5rem;
  margin-left: 2rem;
  position: relative;
  transition: all 300ms ease;
  font-size: 14px;
  border-radius: 0.7rem;
}

.item:hover{
  cursor: pointer;
}

.active{
  background: var(--activeItem);
  margin-left: 0;
}

.active::before{
  content: "";
  width: 8px;
  height: 100%;
  background: var(--pink);
}

/* mainboard css */
.main{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

/* card */

.card{
  display: flex;
  gap: 10px;
}
.container{
  width: 100%;
}

/* Cards */
.compact{
  display: flex;
  flex: 1;
  height: 7rem !important;
  color: white;
  border-radius: 0.7rem;
  position: relative;
  cursor: pointer;
  padding: 1rem;
}

.compact:hover{
  box-shadow: none !important;
}

.radialBar{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  gap: 1rem;
}

.radialBar span{
  font-size: 15px;
  font-weight: bold;
}

.detail{
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items:flex-end;
  flex-direction: column;
}

.detail span:nth-child(2){
  font-size: 20px;
  font-weight: bold;
}
.detail span:nth-child(3){
  font-size: 12px;
}

.expanded{
  position: absolute;
  width: 60%;
  height: 70vh;
  z-index: 9;
  left: 13rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.expanded span:nth-of-type(1){
  color: white;
  font-size: 26px;
  font-weight: bold;
  text-shadow: 0px 0px 15px white;
}

.expanded span:nth-of-type(2){
  color: rgb(251, 250, 250);
  font-size: 16px;
}

.chart{
  width: 70%;
}

.row{  
  padding: 10px;
}

.head{
  font-weight: bold !important;
}

.status{
  padding: 2px;
  border-radius: 3px;
}

.Detail{
  color: #1f1f1f;
}

/* right side */
.right{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 95%;
}


.Update{
  width: 85%;
  background: white;
  border-radius: 0.7rem;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.updated {
  display: flex;
  gap: 0.5rem;
}

.updated img{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.notif div span:nth-of-type(1){
  font-weight: bold;
}



@media screen and (max-width: 1200px) {
  .menu span{
   display: none;
  }

  .logo{
    display: none;
  }

  /* mainboard */
  .main{
    justify-content: flex-start;
    margin-top: 2rem;
  }

  /* Card */
  .card{
    flex-direction: column;
  }

  .container{
    height: 9rem;
  }

  .expanded{
    top: 2rem;
    height: 70vh;
    left: 6rem;
  }

  /* right */
  .right{
     justify-content: flex-start;
     margin-top: 3rem;
  }

 .Table{
   width: 170%;
   margin-top: 2rem;
 }

}