:root {
  --yellow: linear-gradient(180deg, #f8d49a -142.42%, #fad79d -46% );
  --orange: #af7b27;
  --black : #242d49;
  --gray: #788897;
  --purple: linear-gradient(180deg, #bb67ff 0%, #c484f3 100%);
  --pink : #ff919d;
  --glass : rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0, 0, 0, 8%);
  --smboxShadow: -79px 51px 69px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
  --notUsed: linear-gradient(to right, #fc5c7d, #6a82fb); 
}

.App{
  font-family: 'Inter', sans-serif;
  background: linear-gradient(106.37deg, #fdd19b 29.63%, #fb8b8f 51.55%, #fb92f6 90.85% ) ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.AppGlass {
  display: grid;
  width: 97%;
  height: 97%;
  border-radius: 2rem;
  overflow: hidden;
  grid-template-columns: 11rem auto 20rem;
  background-color: var(--glass);
  gap: 10px;
}

@media screen and (max-width: 1200px) {

  .AppGlass{
    grid-template-columns: 10% 50% auto;
    overflow-y :  scroll ;
  }
}